/*清除基本样式*/
@import '//at.alicdn.com/t/font_648449_9rkf4h3wea0s5rk9.css';
@import "//at.alicdn.com/t/font_649546_509ixcmdhdea5rk9.css";
* {
  margin: 0;
  padding: 0;
  border: none;
}
p {
  margin: 0;
}
.bg-3f {
  background: #fff;
}
body {
  background: #cecece;
}
.bg-green {
  background-color: #1AAD19;
}
.home-page .weui-search-bar {
  background-color: #19CA70;
}
.green {
  color: #1AAD19;
}
ul,
ol,
li {
  list-style: none;
}
.line {
  background: #ECEDF1;
}
.padding {
  padding: .25rem;
}
.padding-half {
  padding: .5rem;
}
.icon-button {
  display: flex;
  border-radius: 5px;
  padding: 0 .25rem;
}
.icon-button i {
  flex-shrink: 0;
}
.icon-button button,
.icon-button span,
.icon-button div {
  width: 100%;
}
.bg-gray {
  background: #ECEDF1;
}
.bg-white {
  background: #fff;
}
.green {
  color: #19CA70;
}
.gray {
  color: #cecece;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-center {
  text-align: center;
}
.flex-center {
  justify-content: center;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}
.light {
  color: #e2e2e2;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
.img-responsive {
  max-width: 100%;
  width: 100%;
}
.small {
  font-size: .5rem;
}
.news {
  padding: .5rem .25rem;
  display: flex;
}
.news img {
  width: 1.3rem;
  height: 1.1rem;
  flex-shrink: 0;
}
.news h6 {
  padding-left: .5rem;
  width: 100%;
  line-height: 1.1rem;
  margin-bottom: 0;
  font-size: 0.7rem;
  font-weight: 600;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.bg-white {
  background: #fff;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.normal {
  font-size: .7rem;
}
.tabbar-btn {
  background: #19ca70;
  /* line-height: 2.3; */
  color: #fff;
  margin: .25rem .25rem;
  border-radius: 5px;
  padding: 0rem .5rem;
  font-size: .6rem;
}
.tabbar-btn i {
  color: #fff;
}
.yes {
  color: #32cc7e;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.no {
  color: #ff6650;
}
.foot p {
  margin-top: 5px;
}
.mask {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.vip {
  position: relative;
  right: .5rem;
  top: 1rem;
  color: #ff8900;
}
.page {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  background: #fff;
  width: 100%;
  overflow: hidden;
}
.weui-tabbar {
  max-width: 960px;
  background: #fff;
}
.menu {
  margin-top: 1rem;
}
label.weui-search-bar__label {
  border-radius: 100px;
}
.weui-search-bar__box:first {
  /* border-radius: 100px; */
}
#searchBar {
  background-color: #19CA70;
}
.weui-search-bar_focusing .weui-search-bar__box {
  background: #fff !important;
}
.weui-search-bar_focusing .weui-search-bar__form {
  border-radius: 100px;
}
.weui-search-bar_focusing .weui-search-bar__label {
  background: #fff !important;
  border-radius: 100px;
}
.search-bar {
  padding: .5rem 1rem;
  background-color: #19CA70;
  height: 6.1rem;
  position: relative;
}
.search-input {
  width: 12.3rem;
  height: 1.7rem;
  border-radius: 100px;
  border: none;
  color: #19CA70;
  font-size: .7rem;
  outline: none;
  text-align: center;
}
.search-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #19CA70;
  text-align: center;
}
.search-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #19CA70;
  text-align: center;
}
.search-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #19CA70;
  text-align: center;
}
.search-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #19CA70;
  text-align: center;
}
.calendar-icon {
  color: #fff;
  font-size: 1rem;
  flex-shrink: 0;
  width: 1rem;
  text-align: center;
  float: right;
  line-height: 2rem;
}
.icon-search {
  position: absolute;
  left: 1.4rem;
  top: rem;
  font-size: 1rem;
  line-height: 2rem;
  display: inline-block;
  height: 2rem;
  color: #19CA70;
}
.banner {
  position: relative;
  top: -3.5rem;
  margin-bottom: -4rem;
  padding: 0 .25rem;
}
.img-responsive {
  max-width: 100%;
}
.menu li {
  text-align: center;
  font-size: .7rem;
  margin-bottom: .5rem;
}
.menu li img {
  max-width: 50%;
}
.offline-edu {
  padding: 0 .25rem;
  display: flex;
  margin-top: 0.5rem;
}
.offline-edu img,
.news img {
  width: auto;
  height: 1rem;
  flex-shrink: 0;
}
.offline-edu h6 {
  padding-left: .5rem;
  width: 100%;
  line-height: 1rem;
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 0;
}
.card.lesson-summary {
  display: flex;
  padding: .2rem 0;
  border-bottom: 1px solid #ECEDF1;
  border-top: none;
  border-left: 0;
  border-right: 0;
  padding-bottom: 0.6rem;
  margin-bottom: 0;
  padding: 0.5rem 0.2rem;
}
.card.lesson-summary figure {
  width: 4.48rem;
  flex-shrink: 0;
  border-radius: 5px;
  height: 3.11rem;
  overflow: hidden;
  margin-bottom: 0;
}
.card .lesson-summary-meta {
  font-size: .5rem;
  display: flex;
  justify-content: space-between;
  margin: -0.2rem 0;
}
.card .content {
  width: 100%;
  padding-left: .25rem;
}
.card .content p {
  margin-bottom: 0.2rem;
}
.card figure img {
  max-width: 100%;
  min-width: 100%;
}
.price {
  color: #fc5300;
  font-size: .6rem;
}
.border-line {
  border: .5px solid #000;
  height: .4rem;
  display: inline-block;
  line-height: .7rem;
}
.bg-orange {
  background: #f2b541;
}
.order {
  position: relative;
}
.order .address {
  /* position: relative; */
  /* top:-3rem; */
}
.order .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(99.5%);
  height: calc(99.1%);
  opacity: .8;
  display: flex;
  align-items: flex-end;
  color: #fff;
  margin: 0rem;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.order .order-btn {
  position: absolute;
  right: .25rem;
  bottom: .75rem;
  font-size: .8rem;
}
.card.classes-summary {
  margin: .5rem 0rem;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-radius: 0;
  border: none;
  margin-top: 0;
}
.classes-summary figure {
  width: 100%;
  height: 3.3rem;
  overflow: hidden;
  margin-bottom: 0;
}
.classes {
  padding-bottom: 0;
  margin-top: 0;
}
.classes-summary figure img {
  max-width: 100%;
}
.class-title {
  font-size: .6rem;
  position: relative;
}
.gray {
  color: #c2c2c2;
}
.no-padding {
  padding: 0 !important;
}
.learn-process {
  color: #e0db13;
  font-size: .5rem;
  height: 1rem;
  z-index: 3;
  width: 100%;
  text-align: center;
  margin-top: -1rem;
  position: absolute;
  top: 0rem;
}
.weui-tabbar__label {
  margin-bottom: 0;
}
.sig-successed {
  width: 4rem;
  margin-bottom: .5rem;
}
.classes .icon-button img {
  width: 0.6rem;
  height: 0.6rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}
.classes .icon-button .small {
  font-size: 0.6rem;
}
.peoson-error .weui-tabbar__label {
  font-size: 0.6rem;
}
.peoson-error .title {
  font-size: 0.8rem;
  color: #000;
}
.bottom-bar {
  max-width: 960px;
  margin: 0 auto;
}
.error-list {
  margin-bottom: 3rem;
}
.error-list p {
  font-size: 0.8rem;
  color: #000;
  /* line-height: 1rem; */
  margin-bottom: 0;
}
.error-list .weui-cell__hd img {
  width: 1.5rem;
  margin-right: 0.3rem;
  margin-top: 0.2rem;
}
.Exam-success {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #19ca70;
  color: #fff;
  text-align: center;
  align-items: center;
  padding: 0.5rem 0;
  padding-bottom: 2rem;
}
.Exam-success img {
  width: 2rem;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 666;
  max-width: 960px;
  top: 0;
}
.wrap {
  padding-top: 50px;
}
.head-img {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.head-img div {
  margin: 0 auto;
  margin-top: -2rem;
  width: 4rem;
  border-radius: 50%;
  /* border: 1px solid #fff; */
  position: relative;
  background: #ffffff;
  height: 4rem;
}
.head-img img {
  width: 3.7rem;
  border-radius: 50%;
  margin-left: 4%;
  margin-top: 4%;
}
.head-img i {
  position: absolute;
  right: -0.3rem;
  bottom: -0.5rem;
  color: #f17154;
}
.person-info label.weui-search-bar__label {
  border-radius: 100px;
}
.person-info .weui-search-bar__box:first {
  /* border-radius: 100px; */
}
.person-info #searchBar {
  background-color: #19ca70;
}
.person-info .weui-search-bar_focusing .weui-search-bar__box {
  background: #fff !important;
}
.person-info .weui-search-bar_focusing .weui-search-bar__form {
  border-radius: 100px;
}
.person-info .weui-search-bar_focusing .weui-search-bar__label {
  background: #fff !important;
  border-radius: 100px;
}
.person-info .search-bar {
  padding: 0.5rem 1rem;
  background-color: #19ca70;
  height: 6.1rem;
  align-items: self-end;
}
.person-info .search-input {
  width: 12.3rem;
  height: 1.7rem;
  border-radius: 100px;
  border: none;
  color: #19ca70;
  font-size: 0.7rem;
  outline: none;
  text-align: center;
}
.person-info .search-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #19ca70;
  text-align: center;
}
.person-info .search-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #19ca70;
  text-align: center;
}
.person-info .search-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #19ca70;
  text-align: center;
}
.person-info .search-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #19ca70;
  text-align: center;
}
.person-info .calendar-icon {
  color: #fff;
  font-size: 1rem;
  flex-shrink: 0;
  width: 1rem;
  text-align: center;
  float: right;
  line-height: 2rem;
}
.person-info .icon-search {
  position: absolute;
  left: 1.4rem;
  top: rem;
  font-size: 1rem;
  line-height: 2rem;
  display: inline-block;
  height: 2rem;
  color: #19ca70;
}
.person-info .banner {
  position: relative;
  top: -4rem;
  margin-bottom: -4rem;
  padding: 0 0.25rem;
  background: #797373;
  padding: 0 1rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
}
.person-info .img-responsive {
  max-width: 100%;
}
.person-info .offline-edu {
  padding: 0 0.25rem;
  display: flex;
}
.person-info .offline-edu img,
.person-info .news img {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.person-info .offline-edu h6 {
  padding-left: 0.5rem;
  width: 100%;
  line-height: 1rem;
}
.person-info .card.lesson-summary {
  display: flex;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ecedf1;
}
.person-info .card.lesson-summary figure {
  width: 4.48rem;
  flex-shrink: 0;
  border-radius: 5px;
  height: 3.11rem;
  overflow: hidden;
}
.person-info .card .lesson-summary-meta {
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: -0.3rem;
}
.person-info .card .content {
  width: 100%;
  padding-left: 0.25rem;
}
.person-info .card figure img {
  max-width: 100%;
}
.person-info .price {
  color: #f2b541;
  font-size: 0.6rem;
}
.person-info .border-line {
  border: 0.5px solid #000;
  height: 0.4rem;
  display: inline-block;
  line-height: 0.7rem;
}
.person-info .bg-orange {
  background: #f2b541;
}
.person-info .order {
  position: relative;
}
.person-info .weui-cell {
  padding: 0.8rem 0.5rem;
  border-top: 1px solid #e5e5e5;
}
.person-info .weui-cells {
  margin-top: 0.5rem;
}
.person-info .weui-cell:before {
  border: none;
}
.person-info .order .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(99.5%);
  height: calc(99.1%);
  background: #000;
  opacity: 0.6;
  display: flex;
  align-items: flex-end;
  color: #fff;
  margin: 0.25rem;
}
.person-info .order .order-btn {
  position: absolute;
  right: 0.25rem;
  bottom: 0.75rem;
  font-size: 0.8rem;
}
.person-info .card.classes-summary {
  margin: 0.5rem 0rem;
}
.person-info .classes-summary figure {
  width: 100%;
  height: 3.3rem;
  overflow: hidden;
}
.person-info .classes-summary figure img {
  max-width: 100%;
}
.person-info .class-title {
  font-size: 0.6rem;
}
.person-info .gray {
  color: #c2c2c2;
}
.person-info .no-padding {
  padding: 0 !important;
}
.person-info .learn-process {
  color: #8b9137;
  font-size: 0.5rem;
  height: 1rem;
  position: relative;
  top: 0rem;
  z-index: 99999;
  width: 100%;
  text-align: center;
  margin-top: -1rem;
}
.person-info .weui-cell__hd img {
  width: 1rem;
  margin-right: 0.3rem;
  margin-top: 0.2rem;
}
.person-info .weui-cell_access .weui-cell__ft:after {
  width: 10px;
  height: 10px;
}
.person-info .menu {
  position: relative;
  top: -4rem;
  background: #fff;
  padding: 0.5rem 0;
  max-width: 960px;
}
.person-info .menu li div {
  font-size: 0.6rem;
}
.person-info .menu li img {
  max-width: 85%;
  margin: 0.2rem;
}
.teacher-info {
  background: #ecedf1;
}
.teacher-info .jj {
  padding: 0.5rem;
  font-size: 0.7rem;
  color: #848080;
  line-height: 1.2rem;
  padding-top: 0.8rem;
}
.teacher-info .jj a {
  background: #ff7646;
  width: 2rem;
  padding: 0;
  line-height: 1rem;
  position: relative;
  top: 0.2rem;
}
.teacher-info .content img {
  width: 0.8rem;
  margin-left: 1rem;
}
.teacher-info .content p {
  font-size: 0.8rem;
  font-weight: 600;
}
.teacher-info .content p i {
  color: #19CA70;
  font-style: normal;
  font-weight: 600;
  font-size: 0.7rem;
}
.teacher-info .preview-image img {
  margin: 1rem auto;
  width: 72%;
  display: block;
  border: 1px dotted #dcc6c6;
}
.teacher-info .summary {
  display: flex;
  width: 72%;
  margin: 1rem auto;
}
.teacher-info .summary i {
  flex-shrink: 0;
}
.teacher-info .summary span,
.teacher-info .summary div {
  width: 100%;
}
.teacher-info .menu {
  margin-top: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.teacher-info .menu li {
  text-align: center;
  font-size: .7rem;
  margin-bottom: .5rem;
}
.teacher-info .menu li img {
  max-width: 50%;
}
.teacher-info .offline-edu {
  padding: 0 .25rem;
  display: flex;
}
.teacher-info .offline-edu h6 {
  padding-left: .5rem;
  width: 100%;
  line-height: 1rem;
}
.teacher-info .offline-edu img,
.teacher-info .news img {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
.teacher-info .card.lesson-summary {
  display: flex;
  padding: .5rem 0;
  border-bottom: 1px solid #ECEDF1;
}
.teacher-info .card.lesson-summary figure {
  width: 4.48rem;
  flex-shrink: 0;
  border-radius: 5px;
  height: 3.11rem;
  overflow: hidden;
}
.teacher-info .card {
  padding: 0.5rem;
  border: none;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}
.teacher-info .card .lesson-summary-meta {
  font-size: .5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: -0.3rem;
}
.teacher-info .card .content {
  width: 100%;
  padding-left: .8rem;
}
.teacher-info .card figure img {
  max-width: 100%;
}
.teacher-info .price {
  color: #F2b541;
  font-size: .6rem;
}
.teacher-info .border-line {
  border: .5px solid #000;
  height: .4rem;
  display: inline-block;
  line-height: .7rem;
}
.teacher-info .bg-orange {
  background: #f2b541;
}
.teacher-info .order {
  position: relative;
}
.teacher-info .order .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(99.5%);
  height: calc(99.1%);
  background: #000;
  opacity: .6;
  display: flex;
  align-items: flex-end;
  color: #fff;
  margin: .25rem;
}
.teacher-info .order .order-btn {
  position: absolute;
  right: .25rem;
  bottom: .75rem;
  font-size: .8rem;
}
.teacher-info .card.classes-summary {
  margin: .5rem 0rem;
}
.teacher-info .classes-summary figure {
  width: 100%;
  height: 3.3rem;
  overflow: hidden;
}
.teacher-info .classes-summary figure img {
  max-width: 100%;
}
.teacher-info .class-title {
  font-size: .6rem;
}
.teacher-info .gray {
  color: #c2c2c2;
}
.teacher-info .no-padding {
  padding: 0 !important;
}
.teacher-info .product-Detailed {
  font-size: 0.7rem;
  color: #848080;
}
.teacher-info .product-Detailed b {
  color: #000;
  font-weight: 500;
}
.teacher-info .teach-list-ul {
  margin-bottom: 0;
}
.teacher-info .teach-list-ul li {
  padding: 0;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.product-detail * {
  font-size: 0.7rem;
}
.product-detail .preview-image img {
  margin: 1rem auto;
  width: 72%;
  display: block;
  border: 1px dotted #dcc6c6;
}
.product-detail .summary {
  display: flex;
  width: 72%;
  margin: 1rem auto;
}
.product-detail .summary i {
  flex-shrink: 0;
}
.product-detail .summary span,
.product-detail .summary div {
  width: 100%;
}
.product-detail .preview-image img {
  width: 100%;
  margin: 0;
}
.product-detail .weui-cell {
  background: #fff;
}
.product-detail .title {
  padding: 0.5rem;
  background: #fff;
  font-size: 1rem;
}
.product-detail .flex-space-around {
  display: flex;
  justify-content: space-around;
}
.product-detail .meun {
  background: #fff;
}
.product-detail .meun a {
  color: #262626;
  font-weight: 600;
  display: inline-block;
  width: 34%;
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
}
.product-detail .meun .active {
  color: #19ca70;
  border-bottom: 1px solid #19ca70;
}
.product-detail .introduce {
  background: #fff;
  padding: 0.5rem;
  border-bottom: 1px solid #d8d8d8;
}
.product-detail .introduce h3 {
  position: relative;
  text-indent: 1rem;
}
.product-detail .introduce h3::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: #19ca70;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  top: 0.3rem;
}
.product-detail .introduce p {
  margin: 0.5rem 0;
  color: #4d4d4d;
}
.product-detail .note span::after {
  color: #19ca70;
}
.product-detail .note_list {
  background: #fff;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.product-detail .note_list span {
  float: right;
  color: #b2b2b2;
}
.product-detail .note_list h4 img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  float: left;
  margin-right: 0.5rem;
}
.product-detail .note_list p span {
  display: block;
  float: none;
  color: #4d4d4d;
  margin: 0.2rem;
}
.product-detail .Catalog .weui-cell__bd {
  margin-left: 0.3rem;
}
.product-detail .teach-list {
  margin-bottom: 4rem;
}
.product-detail .teach-list .li {
  background: #fff;
  padding: 0.5rem;
}
.product-detail .teach-list .evaluate {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 0.5rem;
  font-size: 0.6rem;
}
.product-detail .navbar {
  display: flex!important;
  align-items: center;
}
.product-detail .buy img {
  width: 40%;
}
.product-detail .buy p {
  font-size: 0.6rem;
}
.product-detail .introduce h3 {
  font-size: 0.7rem;
  font-weight: 600;
}
.product-detail .title {
  border-bottom: 1px solid #dadada;
}
.product-detail .title p {
  font-size: .65rem;
  margin-bottom: 0.4rem;
}
.product-detail .preview-image {
  position: relative;
}
.product-detail .preview-image .paly-now {
  position: absolute;
  top: 30%;
  left: 45%;
}
.product-detail .preview-image .paly-now img {
  border: none;
  width: 60%;
}
.product-detail .edit-note {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.product-detail .edit-note img {
  width: 80%;
}
.product-detail .buy {
  position: fixed;
  width: 100%;
  background: #fff;
}
.product-detail .teach-list .weui-badge {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  background: none;
  border: none;
}
.product-detail .teach-list .weui-badge i {
  color: #ff8900;
}
.share-note .preview-image {
  position: relative;
}
.share-note .preview-image img {
  margin: 0;
  width: 100%;
  display: block;
  border: 1px dotted #dcc6c6;
}
.share-note .preview-image .paly-now {
  position: absolute;
  top: 30%;
  left: 45%;
}
.share-note .preview-image .paly-now img {
  border: none;
  width: 60%;
}
.share-note .weui-uploader__file {
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 7rem;
  height: 4rem;
  background: no-repeat center center;
  background-size: cover;
  position: relative;
}
.share-note .weui-uploader__file img {
  width: 80%;
  margin: 0.5rem;
}
.share-note .weui-uploader__file i {
  position: absolute;
  right: 14px;
  top: 0rem;
}
.share-note .share-note-butt {
  background: #fff;
  padding: 0.5rem;
  border-bottom: 1px solid #e1dfdf;
  font-weight: 600;
}
.share-note .share-note-butt div {
  display: flex;
  justify-items: center;
}
.share-note .share-note-butt img {
  width: 2rem;
  margin-right: 0.5rem;
  height: 1rem;
}
.share-note .share-note-butt a {
  padding: 0 0.5rem;
  margin: 0;
}
.share-note .add-img {
  background: url(/assets/images/add-note-img.png);
  border: none;
  float: left;
  position: relative;
  width: 3.6rem;
  height: 3rem;
  background-size: 100% 100%;
}
.share-note .textarea {
  width: 95%;
  padding: 0 2.5%;
  background: #fff;
}
.share-note .textarea textarea {
  font-family: '微软雅黑';
  text-indent: 0.5rem;
  background: url(assets/images/pencil.png) no-repeat #fff;
  width: 100%;
  outline: none;
  height: 39vh;
  margin-top: 0.2rem;
  background-size: 1rem;
  border-bottom: 1px solid #e1dfdf;
}
.order-confirm {
  background: #ecedf1;
}
.order-confirm .group-teacher {
  padding: .5rem;
  font-size: .7rem;
  border-bottom: 1px solid #e9e9e9;
}
.order-confirm .group-teacher .icon-gou,
.order-confirm .group-teacher .icon-circle {
  line-height: 1.2rem;
}
.order-confirm .icon-gou,
.order-confirm .icon-circle {
  font-size: 1rem;
  margin-right: .5rem;
  color: #dadada;
}
.order-confirm .product {
  display: flex;
}
.order-confirm .product-gou {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-confirm .price {
  color: #fc5300;
  font-size: .7rem;
}
.order-confirm .items {
  font-size: .6rem;
  padding: .5rem;
}
.order-confirm .items .icon-button i {
  font-style: normal;
  margin-right: .5rem;
}
.order-confirm .items .icon-button span,
.order-confirm .items .icon-button div {
  font-size: .7rem;
  color: #19CA70;
  font-weight: 600;
}
.order-confirm .items .icon-button {
  line-height: 1.4rem;
}
.order-confirm .email {
  color: #fb9337;
}
.order-confirm .field-border {
  border-right: 1px solid #d6d6d6;
}
.order-confirm .weui-input {
  text-indent: 1rem;
}
.order-confirm .conunt div {
  font-size: .7rem;
  display: flex;
  align-items: center;
}
.order-confirm .conunt div .border {
  border: 1px solid #e2e2e2;
  padding: .25rem .25rem;
  color: gray;
}
.order-confirm .conunt div .border input {
  line-height: 1rem;
  border: 1px solid #e2e2e2;
  height: 1rem;
  max-width: 2rem;
}
.order-confirm .conunt .pay {
  border-top: 1px solid #e5e5e5;
  padding: 0;
  margin: 0.5rem;
  padding-top: 0.5rem;
}
.order-confirm .conunt .pay div {
  font-size: 0.8rem;
}
.order-confirm .product img {
  width: 32vw;
  height: 23.4vw;
}
.order-confirm .product p {
  font-size: .6rem;
}
.order-confirm .product div {
  margin-left: 20px !important;
}
.order-confirm .product div .price {
  margin: 0 !important;
}
.order-confirm .pay {
  border-top: 1px solid #ecedf1;
}
.order-confirm .pay .flex {
  line-height: 2rem;
}
.order-confirm .pay .flex span {
  font-size: 0.6rem;
}
.order-confirm .conunt .sequire {
  margin: 0 10px;
}
.order-confirm .conunt .weui-btn {
  font-size: 18px !important;
  padding: 15px;
}
.lessons .lessons-ul div {
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.5rem;
}
.lessons .lessons-ul div img {
  width: 1.2rem;
  margin-right: 0.2rem;
}
.lessons .lessons-ul li {
  border-top: 1px solid #f2f3f6;
  padding: 0.5rem;
}
.lessons .lessons-ul li img {
  width: 1rem;
  margin-right: 0.2rem;
}
.lessons .lessons-ul li a {
  font-size: 0.6rem;
  color: #000;
}
.teacher-video {
  background: #ecedf1;
}
.teacher-video .navbar {
  margin-bottom: 0;
}
.teacher-video .navbar .center {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  line-height: 22px;
  text-align: left;
}
.teacher-video .navbar .center i {
  font-size: 14px;
  text-align: left;
  font-style: normal;
}
.teacher-video .padding-half p {
  font-size: 0.8rem;
}
.teacher-video .padding-half p img {
  width: 0.6rem;
}
.teacher-video .padding-half h6 {
  font-size: 0.7rem;
  font-weight: 500;
}
.teacher-video .preview-image {
  width: 100%;
}
.teacher-video .preview-image .cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 666;
  background: rgba(0, 0, 0, 0.5);
  width: 94%;
  height: 7.9rem;
  left: 3%;
  top: 5%;
}
.teacher-video .preview-image button {
  position: absolute;
  left: 31%;
  top: 40%;
  z-index: 666;
  width: 41%;
  border-radius: 30px;
  padding: 0.3rem;
  color: #19ca70;
  background: none;
  border: 2px solid #19ca70;
  font-weight: 600;
  font-size: 0.7rem;
}
.teacher-video .bottom-bar {
  border-top: 1px solid #e7e7e7;
  height: 3rem;
}
.teacher-video .bottom-bar .icon-zixun {
  font-size: 1.2rem;
  height: 1rem;
  position: relative;
  top: -32px;
}
.teacher-video .bottom-bar .icon-collection {
  font-size: 1.2rem;
  height: 1rem;
  position: relative;
  top: -32px;
}
.teacher-video .bottom-bar .icon-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0.5rem;
  border-right: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0.5rem;
}
.teacher-video .bottom-bar .icon-div img {
  width: 70%;
  margin-top: -1rem;
}
.teacher-video .bottom-bar .icon-div span {
  font-size: 0.6rem;
  position: absolute;
  top: 0.1rem;
}
.teacher-video .bottom-bar button {
  padding: 0 1rem;
}
.teacher-list1 .video {
  background: #f7f7f7;
  padding: 0 0.5rem !important;
  border-bottom: 1px solid #19ca70;
}
.teacher-list1 .video a {
  color: #333;
  padding: 0.3rem;
  width: 50%;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 600 /* border-bottom: 1px solid #19ca70; */;
}
.teacher-list1 .video .active {
  background: url(/assets/images/teacher-list-box.png) no-repeat center center;
  background-size: 100% 100%;
  border-bottom: #fff;
  position: relative;
  top: 1px;
}
.teacher-list1 .preview-image {
  width: 94%;
  padding: 0.5rem;
  position: relative;
}
.teacher-list1 .preview-image img {
  width: 100%;
}
.teacher-list1 .preview-image button {
  position: absolute;
  left: 31%;
  top: 40%;
  z-index: 666;
  width: 41%;
  border-radius: 15px;
  padding: 0.3rem;
  color: #19ca70;
  background: none;
}
.teacher-list1 .flex-space-between {
  padding: 0 0.1rem;
}
.teacher-list1 .flex-space-between span,
.teacher-list1 .flex-space-between i {
  font-size: 0.7rem;
}
.teacher-list1 .icon-zixun,
.teacher-list1 .icon-collection {
  display: block;
  height: 1rem;
}
.teacher-list1 .weui-media-box_appmsg .weui-media-box__hd {
  width: 1rem;
  line-height: 1rem;
  height: 1rem;
}
.teacher-list1 .weui-panel__bd {
  padding: 0.5rem;
  background: #fff;
  margin-bottom: 2rem;
}
.teacher-list1 .navbar {
  margin-bottom: 0;
}
.teacher-list1 .cover {
  position: absolute;
  bottom: 7rem;
  width: 100%;
  height: 3rem;
  max-width: 960px;
  background: url(https://iknowwap.bdimg.com/static/m-question-new/widget/detail-full/img/background.69dae1e.png) no-repeat;
  background-size: 100% 100%;
  z-index: 666;
}
.teacher-list1 .cover_p {
  max-height: 13.5rem;
  background: #fff;
  font-size: 0.8rem;
  padding: 1rem;
  overflow: hidden;
}
.anwser-process {
  background: #ecedf1;
}
.anwser-process .single-anwser {
  position: relative;
  padding: .5rem;
  /* text-indent: 6rem; */
}
.anwser-process .single-anwser .type {
  position: absolute;
  padding: 0 .25rem;
  font-size: .5rem;
  color: lightgreen;
  border: 1px solid lightgreen;
}
.anwser-process .single-anwser .title {
  font-size: .7rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}
.anwser-process .check-list {
  padding: .5rem;
}
.anwser-process .check-list li {
  padding: .25rem 0;
  display: flex;
  align-items: center;
}
.anwser-process .check-list li i {
  flex-shrink: 0;
  font-size: 1.3rem;
  margin-right: .5rem;
}
.anwser-process .check-list li span,
.anwser-process .check-list li div {
  font-size: .75rem;
  line-height: 2rem;
  width: 100%;
}
.anwser-process .anwser-card .title {
  font-size: .9rem;
  display: flex;
}
.anwser-process .analysis-card {
  padding: 1rem;
  border: 1px solid #bae2d2;
}
.anwser-process .analysis-card .btn {
  padding: .25rem .25rem;
  border: 1px solid lightgreen;
  font-size: .7rem;
  font-weight: 600;
}
.anwser-process .shadow {
  background: #cef4e1;
  height: .25rem;
}
.anwser-process .analysis-card .data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.anwser-process .analysis-card .data div {
  margin-top: 1rem;
  text-align: center;
}
.anwser-process .analysis-card .data div span {
  color: #929292;
  font-size: 0.7rem;
}
.anwser-process .green-panel {
  border: 1px solid #ffb467;
  color: #ffb467;
  font-size: .7rem;
  padding: .5rem;
}
.anwser-process .address {
  display: flex;
  justify-content: space-between;
  color: #9e9e9e;
}
.anwser-process .avatar {
  border-radius: 10px;
  width: 2.3rem;
  height: 2.3rem;
  margin-right: .5rem;
}
.anwser-process .comments li {
  padding: .5rem;
  border-bottom: 1px solid #f8f8f8;
}
.anwser-process .name {
  color: #21cb74;
  font-size: .8rem;
}
.anwser-process .state {
  border-radius: 15px;
  border: 1px solid #ffbb4f;
  padding: 0rem .5rem;
  font-size: .5rem;
  color: #ffa003;
}
.anwser-process .weui-tabbar i {
  color: #000;
  font-size: .8rem;
}
.anwser-process .weui-tabbar__label {
  color: #000 !important;
}
.anwser-process .tabbar-btn {
  background: #19ca70;
  /* line-height: 2.3; */
  color: #fff;
  margin: .25rem .25rem;
  border-radius: 5px;
  padding: .4rem .8rem;
  font-size: .6rem;
}
.anwser-process .tabbar-btn i {
  color: #fff;
}
.anwser-process .continue-btn {
  position: absolute;
  bottom: 30vh;
  background: #10ba48;
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: 25px;
  font-size: .7rem;
}
.anwser-process .submit-btn {
  background: #5495b7;
  position: absolute;
  bottom: 20vh;
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: 25px;
  font-size: .7rem;
}
.anwser-process .navbar {
  margin-bottom: 0;
}
.anwser-process i.iconfont {
  line-height: 2.5rem;
}
.anwser-process .icon-button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  /* background: #fff; */
  color: #000;
  border-radius: 24px;
  height: 2.3rem;
  line-height: 2.3rem;
  justify-content: center;
  align-items: center;
}
.anwser-process .icon-button div {
  background: #fff;
  height: 1.3rem;
  border-radius: 15px;
  line-height: 1.3rem;
  font-size: .6rem;
  color: #19ca70;
}
.anwser-process .icon-button div img {
  width: 0.8rem;
  margin-top: -0.2rem;
}
.anwser-process .icon-button div span {
  font-size: 0.7rem;
}
.anwser-process .bottom-bar .flex-space-between {
  align-items: center;
}
.anwser-process .bottom-bar img {
  width: 0.8rem;
  margin-top: -0.2rem;
}
.anwser-process .bottom-bar .icon-button {
  width: auto;
  margin: 0;
  height: auto;
  line-height: inherit;
}
.anwser-process .mask {
  background-color: rgba(0, 0, 0, 0.7);
}
.anwser-process .mask .flex-center {
  height: 100vh;
  background: url(/assets/images/fail.png);
  background-repeat: no-repeat;
  background-position: center 25%;
  width: 100%;
  background-size: 100%;
}
.anwser-process .mask .flex-center .cj {
  position: absolute;
  top: 38vh;
}
.anwser-process .mask .flex-center .cj div {
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 5px;
}
.anwser-process .mask .flex-center .cj div img {
  width: 0.8rem;
  margin-right: 5px;
}
.anwser-process .mask .flex-center .cj div span {
  color: #ff6000;
}
.anwser-process .mask .flex-center .cj p {
  font-size: 0.8rem;
  font-weight: 600;
}
.anwser-process .mask .flex-center .cj p span {
  color: #ff3f3f;
}
.anwser {
  background: #ecedf1;
}
.anwser .single-anwser {
  position: relative;
  padding: .5rem;
  /* text-indent: 6rem; */
}
.anwser .single-anwser .type {
  position: absolute;
  padding: 0 .25rem;
  font-size: .5rem;
  color: lightgreen;
  border: 1px solid lightgreen;
}
.anwser .single-anwser .title {
  font-size: .7rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}
.anwser .check-list {
  padding: .5rem;
}
.anwser .check-list li {
  padding: .25rem 0;
  display: flex;
}
.anwser .check-list li i {
  flex-shrink: 0;
  font-size: 1.3rem;
  margin-right: .5rem;
}
.anwser .check-list li span,
.anwser .check-list li div {
  font-size: .75rem;
  line-height: 2rem;
  width: 100%;
}
.anwser .anwser-card {
  border-radius: 5px;
  padding: .5rem 1rem;
  /* display: flex; */
}
.anwser .anwser-card .title {
  font-size: .9rem;
  display: flex;
}
.anwser .analysis-card {
  padding: 1rem;
  border: 1px solid #bae2d2;
}
.anwser .analysis-card .btn {
  padding: .25rem .25rem;
  border: 1px solid lightgreen;
  font-size: .7rem;
  font-weight: 600;
}
.anwser .shadow {
  background: #cef4e1;
  height: .25rem;
}
.anwser .analysis-card .data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.anwser .analysis-card .data div {
  margin-top: 1rem;
  text-align: center;
}
.anwser .analysis-card .data div span {
  color: #929292;
  font-size: 0.7rem;
}
.anwser .green-panel {
  border: 1px solid #ffb467;
  color: #ffb467;
  font-size: .7rem;
  padding: .5rem;
}
.anwser .address {
  display: flex;
  justify-content: space-between;
  color: #9e9e9e;
}
.anwser .avatar {
  border-radius: 10px;
  width: 2.3rem;
  height: 2.3rem;
  margin-right: .5rem;
}
.anwser .comments li {
  padding: .5rem;
  border-bottom: 1px solid #f8f8f8;
}
.anwser .name {
  color: #21cb74;
  font-size: .8rem;
}
.anwser .state {
  border-radius: 15px;
  border: 1px solid #ffbb4f;
  padding: 0rem .5rem;
  font-size: .5rem;
  color: #ffa003;
}
.anwser .weui-tabbar i {
  color: #000;
  font-size: .8rem;
}
.anwser .weui-tabbar__label {
  color: #000 !important;
}
.anwser .tabbar-btn {
  background: #19ca70;
  line-height: 1.3;
  color: #fff;
  margin: .25rem .25rem;
  border-radius: 5px;
  padding: .4rem .8rem;
  font-size: .7rem;
}
.anwser .tabbar-btn i {
  color: #fff;
}
.anwser .continue-btn {
  position: absolute;
  bottom: 30vh;
  background: #10ba48;
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: 25px;
  font-size: .7rem;
}
.anwser .submit-btn {
  background: #5495b7;
  position: absolute;
  bottom: 20vh;
  padding: .5rem 1.5rem;
  color: #fff;
  border-radius: 25px;
  font-size: .7rem;
}
.anwser .line {
  height: .5rem;
  margin-top: 2rem;
  width: 99.5vw;
  position: relative;
  left: -0.2rem;
}
.anwser .green-panel {
  border: 1px solid #ffb467;
  color: #ffb467;
  font-size: .7rem;
  padding: .5rem;
  border-radius: 10px;
}
.anwser .navbar {
  margin-bottom: 0;
}
.anwser .check-list {
  padding: .5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.anwser .check-list li {
  padding: .25rem 0;
  display: flex;
}
.anwser .check-list li i {
  flex-shrink: 0;
  font-size: 1.3rem;
  margin-right: .5rem;
}
.anwser .check-list li span,
.anwser .check-list li div {
  font-size: .75rem;
  line-height: 2rem;
  width: 100%;
}
.anwser .kuang {
  background: url(/assets/images/answer.png) no-repeat;
  background-size: 100% 100%;
}
.anwser .kuang .analysis-card {
  border: none;
  padding: 0;
  background-size: 100% 100%;
}
.anwser .kuang .analysis-card .data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}
.anwser .kuang .analysis-card .data div {
  margin-top: 1rem;
  text-align: center;
}
.anwser .kuang .analysis-card .data div h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
}
.anwser .kuang .analysis-card .data div span {
  color: #929292;
  font-size: 0.7rem;
}
.anwser .kuang .anwser-card {
  margin: .5rem 1rem;
  padding-top: 1.2rem;
  border-bottom: 1px solid #baead2;
  border-radius: 0;
  padding-bottom: 10px;
}
.anwser .kuang .anwser-card .title {
  font-size: .9rem;
  display: flex;
}
.anwser .state {
  border-radius: 15px;
  border: 1px solid #ffbb4f;
  padding: 0rem .5rem;
  font-size: .5rem;
  color: #ffa003;
  height: 1rem;
}
.anwser .state img {
  width: 0.6rem;
}
.anwser .comments li .info {
  height: 2.3rem;
  font-size: .7rem;
}
.anwser .weui-tabbar img {
  width: 0.8rem;
  margin-right: 0.2rem;
}
.anwser .pl {
  font-size: .7rem;
  display: inline-block;
  width: 100%;
}
.anwser .dp .dp_span {
  display: inline-block;
  position: relative;
}
.anwser .dp .dp_span span {
  position: absolute;
  top: -7px;
  right: -6px;
}
.anwser .dp .dp_span img {
  margin-left: 0.5rem;
}
.upload-id {
  background: #ecedf1;
}
.upload-id .navbar {
  margin-bottom: 0;
}
.upload-id .bg-3f {
  padding: 1rem 0;
}
.upload-id .wrap {
  padding-top: 50px;
}
.upload-id .sub {
  margin-top: 3rem;
}
.upload-id .sub button {
  background: #19ca70;
  line-height: 2.3;
  width: 80%;
}
.teacher-apply {
  background: #ecedf1;
}
.teacher-apply .navbar {
  margin-bottom: 0;
}
.teacher-apply img {
  width: 0.8rem;
  height: 1rem;
  margin-right: 10px;
}
.teacher-apply .small-gray {
  color: #777;
  font-weight: 500;
}
.teacher-apply .weui-input {
  border-bottom: 1px solid #e5e5e5;
  margin-left: 10px;
}
.teacher-apply .weui-cell:before {
  border: none;
}
.teacher-apply .weui-cells {
  background: none;
}
.teacher-apply .bg-3f {
  margin-bottom: 10px;
}
.teacher-apply .sub {
  padding: 1rem 0;
}
.teacher-apply .sub button {
  background: #19ca70;
  line-height: 2.3;
  width: 80%;
}
.shoping-car {
  background: #ECEDF1;
}
.shoping-car .icon-xuanzhong {
  color: #19CA70;
  font-size: 1.2rem;
}
.shoping-car .groups li {
  margin-bottom: 5px;
}
.home .menu {
  padding: 0;
}
.home .news,
.home .banner {
  padding: 0 0.5rem;
}
.home .new1 {
  padding: 0.5rem;
}
.home .offline-edu {
  padding: 0.5rem;
  align-items: center;
  padding-top: 0;
}
.home .good-lesson {
  padding: 0.5rem;
  padding-top: 0;
}
.home .card.lesson-summary {
  padding: 0.8rem 0 0.8rem 0;
}
.home .sig-successed {
  width: 3.5rem;
  margin-bottom: 1rem;
  margin-right: 0.3rem;
}
.home .classes {
  padding: 0;
}
.home .classes .card.classes-summary {
  margin: 0;
  padding: 0.5rem;
}
